/*======== Default CSS ==========*/

html,
body {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'myFonts', sans-serif;
  font-weight: 400;
}

/*---------------------------------------------------------------------------------------------------*/



/*Import fonts*/
@font-face {
  font-family: "myFonts";
  src: url("../../assets/fonts/Gilroy/Gilroy-Light.otf");
  src: url("../../assets/fonts/Gilroy/Gilroy-Light.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*---------------------------------------------------------------------------------------------------*/



/*Aktiv menu*/
.nuxt-link-exact-active {
  color: var(--main-font-color) !important;
  font-weight: bold;
}

/*---------------------------------------------------------------------------------------------------*/


/* Light and dark version button */
.button-theme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.sun-icon, .moon-icon {
  width: 100%;
  height: 100%;
  transition: transform 0.5s, opacity 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.sun-icon {
  fill: #FDB813;
  transform: rotate(0deg);
  width: 50px;
  height: 50px;
  opacity: 1;
}

.moon-icon {
  fill: #E3E4E8;
  transform: rotate(-180deg);
  opacity: 0;
  width: 25px;
  height: 25px;
}

.isDarkMode .sun-icon {
  transform: rotate(180deg);
  opacity: 0;
  display: none;
}

.isDarkMode .moon-icon {
  transform: rotate(0deg);
  opacity: 1;
}

/*-------------------------------------------------------------------------------------------------------------------*/


/*Custom scrollBar*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--main-font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/*-------------------------------------------------------------------------------------------------------------------*/


/* Main css */
.leaflet-popup-content-wrapper {
  width: 195px !important;
  text-align: center !important;
}

dd, dt {
  color: var(--light-mode-font-color-white);
}

/*-------------------------------------------------------------------------------------------------------------------*/

.blueimp-gallery>.slides {
  margin-left: -12px;
}

.dark_mode {
  mix-blend-mode: luminosity;
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .Vue-Toastification__container .Vue-Toastification__toast {
    margin-bottom: 0;
    text-align: center;
  }
}
